* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: normal normal normal 24px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}

/* Arun Revised styling */

/* navigation */
.s-navigation-bar {
   background-color: #ffd252;
   padding: 4rem 0 4rem 0;
   width: 100%;
   position: absolute;
   top: -400px;
   transition: all 2s ease;
}
.open {
    position: fixed;
    z-index: 2;
    transition: all 1s ease;
    transform: translateY(400px);
}
.c-navigation-container {
    padding: 0 2rem 0 2rem;
    text-align: center;
    position: relative;
}
.c-navigation-bar__close {
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
}
.c-navigation-bar__cancel {
    font-size: 2.5rem;
    transition: all 700ms ease;
}
.c-navigation-bar__cancel:hover {
    color: #f1f1f1;
}
.c-navigation-bar__item {
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
}
.c-navigation-bar__link {
    padding: 0 1rem 0 1rem;
    transition: all 600ms ;
}
.c-navigation-bar__link:hover {
    color: #f1f1f1;   
}
.c-menu-bar {
    position: fixed;
    top: 4rem;
    left: 2rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.644);
    z-index: 1;
}
.c-menu-bar__icon, .c-book-table__link, .c-food-menu__link, .c-scroll-top__link {
    transition: all 600ms ease;
}
.c-menu-bar__icon:hover, .c-book-table__link:hover, .c-food-menu__link:hover, .c-scroll-top__link:hover {
    color: #ffd252; 
}
.c-food-menu {
    transform: translateY(-50%) rotate(90deg) ;
    font-family: 'Cormorant Garamond', serif;
    position: fixed;
    left: -2rem;
    padding-bottom: 1rem;
    top: 50%;
    z-index: 1;
}
.c-scroll-top {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    font-size: 2.25rem;
    z-index: 1;
}
.c-book-table {
    position: fixed;
    top: 4rem;
    right: 2rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    z-index: 1;
}
.c-social-apps {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2.2rem;
    z-index: 1;
}
.c-social-apps__link {
    font-size: 1.2rem;
    padding: 0.2rem;
}
.c-support {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    border: 0px solid rgb(39, 7, 218);
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(46, 42, 42);
    cursor: pointer;
    z-index: 1;
}
.c-support__link {
    color: #f1f1f1;
}
.c-support:hover {
    opacity: 90%;
}


/* Section - intro-section */

.s-intro-section {
    margin-bottom: 8rem;
}
.c-container {
    text-align: center;
    margin: auto;
}
.c-main-title {
    margin: 4rem auto 8rem auto;
    font-size: 1.5rem;
}
.c-main-title__link {
    transition: all 700ms ease;
}
.c-main-title__link:hover {
    color: #ffd252;
}
.c-description {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    max-width: 1000px;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 2rem;
}
.c-description__link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-style: italic;
    color: #ffd252;
}
.c-gallery {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
}
.c-gallery__img-block {
    margin: 2rem;
}
.c-gallery__img {
    width: 100%;
}
.c-gallery__img--quote { 
    width: 450px;
    height: 500px;
    object-fit: cover;

}
.c-gallery__img--resize {
    width: 450px;
    height: 600px;
    object-fit: contain;
}
.c-gallery__img--resize-custom {
    height: 450px;
    width: 500px;
    object-fit: cover;
    padding-top: 125px;
}

/* Section-Follow us */

.s-follow-us {
    background-color: #f1f1f1;
    padding: 6rem 0;
}
.c-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.c-subtitle {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 2.6rem;
    margin-bottom: 6rem;
}
.c-img-display {
    display: flex;
    max-width: 1800px;
    justify-content: center;
    margin-bottom: 4rem;
}
.c-img-display__block {
    width: 225px;
    height: 225px;
    margin: 0 4px 0 4px;
    position: relative;
    transition: 1000ms transform;
    transform: translateY(0);
}
.c-img-display__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.c-img-display__overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
}
.c-img-display__text {
    font-size: 1.5rem;
    color: #f1f1f1d7;
    margin-top: 1rem;
}
.c-img-display__block:hover .c-img-display__overlay {
    display: inline;
}
.c-img-display__block:hover {
    transform: translateY(-30px);
    transition-duration: 1s;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.26);
}
.c-btn-load__button {
    display: inline-block;
    font-size: 1rem;
    font-family: 'Fanwood Text', serif;
    padding: 0.5rem 2.25rem;
    background-color: white;
    appearance: none;
    cursor: pointer;
    border: 1px solid black;
}
.c-btn-load__button:hover {
    color: #f1f1f1;
    background-color: black;
    transition-duration: 800ms;
}

/* Footer section */

.f-foot-contact {
    padding-top: 5rem;
    font-family: 'Cormorant Garamond', serif;
}
.c-foot-container {
    display: flex;
    max-width: 1400px;
    margin-bottom: 10rem;
}
.c-foot-title {
    font: normal normal normal 24px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
}
.c-foot-title__link {
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 800ms ease;
}
.c-foot-title__link:hover {
    color: #ffd252;
}
.c-contact {
    font-size: 1.15rem;
    line-height: 1.75rem;
}
.c-contact li {
    list-style-type: none;
}
.c-contact__email {
    margin-top: 0.5rem;
}
.c-contact__input {
    font-size: 1rem;
    padding: 0.75rem 1.2rem;
    width: 16rem;
    height: 2.5rem;
}
.c-contact__input:hover {
    border: 2px solid black;
    transform: scale(0.95);
}
.c-contact__button {
    appearance: none;
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 5px;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    transition: all 800ms ease;
}
.c-contact__button:hover {
    color: #ffd252;
}
.f-copyright {
    font-size: 1.2rem;
    color: #979494;
    text-align: center;
    margin-bottom: 1.25rem;
}

/* Responsiveness */

@media (max-width: 414px) {

    /* Intro-section */

    .s-intro-section {
        margin-bottom: 4rem;
    }
    .c-main-title {
        font-size: 1rem;
        margin-bottom: 4rem;
    }
    .c-description {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .c-gallery {
        justify-content: center;
        margin: 0;
    }
    .c-gallery__img-block {
        width: 150px;
        margin: 1rem;
    }
    .c-gallery__img {
        width: 100%;
    }
    .c-gallery__img--resize, .c-gallery__img--resize-custom {
        height: 180px;
        padding: 0;
    }
    .c-gallery__img--quote {
        height: 200px ;
    }
    
    /* follow us - section */

    .s-follow-us {
        padding: 3rem 0;
    }
    .c-title {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .c-subtitle {
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    .c-img-display {
        margin-bottom: 2rem;
    }
    .c-img-display__block {
        width: 100px;
        height: 60px;
        margin: 0 2px 0 2px;
    }
    .c-img-display__block:hover {
        transform: translateY(-10px);
        transition-duration: 1s;
        box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.26);
    }
    .c-img-display__overlay {
        padding: 0.3rem;
    }
    .c-img-display__text {
        font-size: 0.4rem;
        line-height: 0.7rem;
        margin-top: 0;
        padding-top: 0.3rem;
    }
    .c-btn-load__button {
        font-size: 0.5rem;
        padding: 0.25rem 1.125rem;
    }

    /* Footer section */
    
    .c-foot-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .f-foot-contact {
        padding-top: 2.5rem;
        font-family: 'Cormorant Garamond', serif;
    }  
    .c-foot-title {
        font-size: 1rem;
    } 
    .c-contact {
        font-size: 1rem;
        padding-top: 1rem;
        text-align: center;
    }
    .c-contact__email {
        display: flex;
        flex-direction: column;
    }
    .c-contact__input {
        font-size: 0.8rem;
    } 
    .c-contact__button {
        margin: 0.8rem auto 0 auto;
        display: inline-block;
        font-family: 'Fanwood Text', serif;
        font-size: 0.7rem;
        padding: 0.25rem 1.125rem;
        background-color: #f1f1f1;
        appearance: none;
        cursor: pointer;
        border: 1px solid black;
    }
    .f-copyright {
        font-size: 0.8rem;
    }

    /* Navigation-section */

    .c-menu-bar, .c-book-table, .c-food-menu, .c-social-apps__link {
        font-size: 1rem;
    }
    .c-food-menu {
        padding-bottom: 2rem;
    }
    .c-scroll-top__link {
        font-size: 1.5rem;
    }
    .c-support {
        font-size: 1.2rem;
        padding: 0.7rem;
    }
}